<div class="navbar-wrapper">
    <div class="inner-navbar-wrapper">
        <div class="navbar-logo">
            <h1>Timeflow</h1>
        </div>
        <ul class="navbar-rightmenu">
            <a class="about" href={{ path('about') }}>About</a>
            <a class="login" href={{ path('login') }}>Login</a>
            <a class="get-started" href={{ path('signup') }}>Get started</a>
        </ul>
    </div>
</div>
